        <p-dialog [(visible)]="createEtablissementDialog" [style]="{width: '70vw'}"
                header="{{'etablissementTabPan' | i18next}}" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'etablissementTabPan' | i18next}}">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="1">{{'etablissementLibelle' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementLibelle' | i18next}}"
                                                   id="1" [(ngModel)]="selectedEtablissement.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEtablissementLibelle}"  />
                                            <small class='p-error' *ngIf='!validEtablissementLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="2">{{'etablissementCode' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementCode' | i18next}}"
                                                   id="2" [(ngModel)]="selectedEtablissement.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEtablissementCode}"  />
                                            <small class='p-error' *ngIf='!validEtablissementCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="3">{{'etablissementDescription' | i18next}}</label>
                                            <textarea id="3" pInputTextarea rows="5" cols="30"
                                                      placeholder="{{'etablissementDescription' | i18next}}"  [(ngModel)]="selectedEtablissement.description"
                                             ></textarea>
                                            
                                        </div>

                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">{{'etablissementSigleOfficiel' | i18next}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementSigleOfficiel' | i18next}}"
                                                   id="4" [(ngModel)]="selectedEtablissement.sigleOfficiel"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="5">{{'etablissementNomEnFrancais' | i18next}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementNomEnFrancais' | i18next}}"
                                                   id="5" [(ngModel)]="selectedEtablissement.nomEnFrancais"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="6">{{'etablissementSigleEnFrancais' | i18next}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementSigleEnFrancais' | i18next}}"
                                                   id="6" [(ngModel)]="selectedEtablissement.sigleEnFrancais"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">{{'etablissementAnciensNom' | i18next}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementAnciensNom' | i18next}}"
                                                   id="7" [(ngModel)]="selectedEtablissement.anciensNom"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="8">{{'etablissementVille' | i18next}}</label>
                                            <p-dropdown [options]="villes" [(ngModel)]="selectedEtablissement.villeVo"
                                                    id="8" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="{{'etablissementVille' | i18next}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateville('ville')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-2">
                                            <label for="9">{{'etablissementPays' | i18next}}</label>
                                            <p-dropdown [options]="payss" [(ngModel)]="selectedEtablissement.paysVo"
                                                    id="9" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="{{'etablissementPays' | i18next}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatepays('pays')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="10">{{'etablissementChampIntervention' | i18next}}</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementChampIntervention' | i18next}}"
                                                   id="10" [(ngModel)]="selectedEtablissement.champIntervention"
                                                     />
                                            
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="11">{{'etablissementValide' | i18next}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="11"  [(ngModel)]="selectedEtablissement.valide"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-3">
                                            <div  class="label-inputswitch">
                                                <label for="12">{{'etablissementArchive' | i18next}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="12"  [(ngModel)]="selectedEtablissement.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="13">{{'etablissementDateArchivage' | i18next}}</label>
                                            <p-calendar  [showTime]="true" [showSeconds]="false"   id="13"
                                                        placeholder="{{'etablissementDateArchivage' | i18next}}"  [(ngModel)]="selectedEtablissement.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-ville-create-admin></app-ville-create-admin>
                    <app-pays-create-admin></app-pays-create-admin>


    </p-dialog>
