        <p-dialog [(visible)]="createTypeOutilDialog" [style]="{width: '70vw'}"
                header="{{'typeOutilTabPan' | i18next}}" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'typeOutilTabPan' | i18next}}">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">{{'typeOutilLibelle' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'typeOutilLibelle' | i18next}}"
                                                   id="1" [(ngModel)]="selectedTypeOutil.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validTypeOutilLibelle}"  />
                                            <small class='p-error' *ngIf='!validTypeOutilLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">{{'typeOutilCode' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'typeOutilCode' | i18next}}"
                                                   id="2" [(ngModel)]="selectedTypeOutil.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validTypeOutilCode}"  />
                                            <small class='p-error' *ngIf='!validTypeOutilCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-6">
                                            <div  class="label-inputswitch">
                                                <label for="3">{{'typeOutilNumerique' | i18next}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedTypeOutil.numerique"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field align-inputswitch p-col-12  p-md-6">
                                            <div  class="label-inputswitch">
                                                <label for="4">{{'typeOutilArchive' | i18next}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="4"  [(ngModel)]="selectedTypeOutil.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="5">{{'typeOutilDateArchivage' | i18next}}</label>
                                            <p-calendar  [showTime]="true" [showSeconds]="false"   id="5"
                                                        placeholder="{{'typeOutilDateArchivage' | i18next}}"  [(ngModel)]="selectedTypeOutil.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
