<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="{{'new' | i18next}}" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateContexte('contexte')"></button>


                    <button pButton pRipple label="{{'search' | i18next}}"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="{{'export' | i18next}}" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchContexte.libelle">
                                    <label for="1">{{'contexteLibelle' | i18next}}</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchContexte.code">
                                    <label for="2">{{'contexteCode' | i18next}}</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="3" [options]="yesOrNoArchive" [(ngModel)]="searchContexte.archive"
                                            [filter]="false" [showClear]="true"  placeholder="{{'contexteArchive' | i18next}}"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchContexte.dateArchivageMin"
                                    id="4-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="4-1">{{'contexteDateArchivage' | i18next}} Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchContexte.dateArchivageMax"
                                    id="4-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="4-2">{{'contexteDateArchivage' | i18next}} Max</label>
                        </span>


                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchContexte.dateCreationMin"
                                    id="5-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="5-1">{{'contexteDateCreation' | i18next}} Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchContexte.dateCreationMax"
                                    id="5-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="5-2">{{'contexteDateCreation' | i18next}} Max</label>
                        </span>

                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="{{'validate' | i18next}}" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="contextes" [columns]="cols" [rows]="8" [paginator]="true"
                    [globalFilterFields]="['libelle', 'code', 'archive', 'dateArchivage', 'dateCreation']" [(selection)]="selectedContexte"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="{{'fromTo' | i18next}}"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">{{'contexteHeader' | i18next}}</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | i18next}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="libelle">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'contexteLibelle' | i18next}}</span>
                                        <p-sortIcon field="libelle"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="code">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'contexteCode' | i18next}}</span>
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="archive">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'contexteArchive' | i18next}}</span>
                                        <p-sortIcon field="archive"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateArchivage">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'contexteDateArchivage' | i18next}}</span>
                                        <p-sortIcon field="dateArchivage"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateCreation">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'contexteDateCreation' | i18next}}</span>
                                        <p-sortIcon field="dateCreation"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contexte>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="contexte"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{contexte.libelle | truncate:60}}</td>
                            

                            
                                 <td>{{contexte.code | truncate:60}}</td>
                            

                            
                                <td><i *ngIf="contexte.archive" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!contexte.archive" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                            
                                <td>{{contexte.dateArchivage | date :'dd/MM/yyyy HH:mm'  | truncate:60}}</td>
                            

                            
                                <td>{{contexte.dateCreation | date :'dd/MM/yyyy HH:mm'  | truncate:60}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editContexte(contexte)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewContexte(contexte)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateContexte(contexte)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{contextes ? contextes.length == 1 ? 'y a' : 'y a' : 'y a' }} {{contextes ? contextes.length : 0 }} {{contextes ? contextes.length == 1 ? 'contexte' : 'contextes' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-contexte-create-admin></app-contexte-create-admin>
        <app-contexte-edit-admin></app-contexte-edit-admin>
        <app-contexte-view-admin></app-contexte-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
