        <p-dialog [(visible)]="editEtablissementPartenaireDialog" [style]="{width: '70vw'}"
                header="{{'etablissementPartenaireTabPan' | i18next}}" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'etablissementPartenaireTabPan' | i18next}}">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">{{'etablissementPartenaireLibelle' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementPartenaireLibelle' | i18next}}"
                                                   id="1" [(ngModel)]="selectedEtablissementPartenaire.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEtablissementPartenaireLibelle}"  />
                                            <small class='p-error' *ngIf='!validEtablissementPartenaireLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">{{'etablissementPartenaireCode' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'etablissementPartenaireCode' | i18next}}"
                                                   id="2" [(ngModel)]="selectedEtablissementPartenaire.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEtablissementPartenaireCode}"  />
                                            <small class='p-error' *ngIf='!validEtablissementPartenaireCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">{{'etablissementPartenaireDescription' | i18next}}</label>
                                            <textarea id="3" pInputTextarea rows="5" cols="30"
                                                      placeholder="{{'etablissementPartenaireDescription' | i18next}}"  [(ngModel)]="selectedEtablissementPartenaire.description"
                                                     ></textarea>
                                            
                                        </div>

                                        <div class="p-field align-inputswitch p-col-12  p-md-6">
                                            <div  class="label-inputswitch">
                                                <label for="4">{{'etablissementPartenaireArchive' | i18next}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="4"  [(ngModel)]="selectedEtablissementPartenaire.archive"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="5">{{'etablissementPartenaireDateArchivage' | i18next}}</label>
                                            <p-calendar  [showTime]="true" [showSeconds]="false"   id="5"
                                                        placeholder="{{'etablissementPartenaireDateArchivage' | i18next}}"  [(ngModel)]="selectedEtablissementPartenaire.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
