
<p-dialog [(visible)]="viewTypeOutilDialog" [style]="{width: '70vw'}"
        header="{{'typeOutilTabPan' | i18next}}" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'typeOutilTabPan' | i18next}}">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">{{'typeOutilLibelle' | i18next}}</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="{{'typeOutilLibelle' | i18next}}"  [(ngModel)]="selectedTypeOutil.libelle"
                                           id="1" [(ngModel)]="selectedTypeOutil.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">{{'typeOutilCode' | i18next}}</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="{{'typeOutilCode' | i18next}}"  [(ngModel)]="selectedTypeOutil.code"
                                           id="2" [(ngModel)]="selectedTypeOutil.code"
                                           autofocus>
                                </div>



                                <div class="p-field align-inputswitch p-col-12  p-md-6">
                                    <div  class="label-inputswitch">
                                        <label for="3">{{'typeOutilNumerique' | i18next}}</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="3"  [disabled]="true" [(ngModel)]="selectedTypeOutil.numerique"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-6">
                                    <div  class="label-inputswitch">
                                        <label for="4">{{'typeOutilArchive' | i18next}}</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="4"  [disabled]="true" [(ngModel)]="selectedTypeOutil.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="5">{{'typeOutilDateArchivage' | i18next}}</label>
                                    <p-calendar  [showTime]="true" [showSeconds]="false"   id="5" [disabled]="true"
                                                placeholder="{{'typeOutilDateArchivage' | i18next}}"  [(ngModel)]="selectedTypeOutil.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="6">{{'typeOutilDateCreation' | i18next}}</label>
                                    <p-calendar  [showTime]="true" [showSeconds]="false"   id="6" [disabled]="true"
                                                placeholder="{{'typeOutilDateCreation' | i18next}}"  [(ngModel)]="selectedTypeOutil.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



