        <p-dialog [(visible)]="createTypeReclamationDialog" [style]="{width: '70vw'}"
                header="{{'typeReclamationTabPan' | i18next}}" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'typeReclamationTabPan' | i18next}}">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">{{'typeReclamationLibelle' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'typeReclamationLibelle' | i18next}}"
                                                   id="1" [(ngModel)]="selectedTypeReclamation.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validTypeReclamationLibelle}"  />
                                            <small class='p-error' *ngIf='!validTypeReclamationLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">{{'typeReclamationCode' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'typeReclamationCode' | i18next}}"
                                                   id="2" [(ngModel)]="selectedTypeReclamation.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validTypeReclamationCode}"  />
                                            <small class='p-error' *ngIf='!validTypeReclamationCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-6">
                                            <div  class="label-inputswitch">
                                                <label for="3">{{'typeReclamationArchive' | i18next}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedTypeReclamation.archive"
                                                     >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="4">{{'typeReclamationDateArchivage' | i18next}}</label>
                                            <p-calendar  [showTime]="true" [showSeconds]="false"   id="4"
                                                        placeholder="{{'typeReclamationDateArchivage' | i18next}}"  [(ngModel)]="selectedTypeReclamation.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
