<p-dialog [(visible)]="createCategorieFaqDialog" [style]="{width: '70vw'}"
        header="Catégorie" [modal]="true"
        styleClass="p-fluid">


    <ng-template pTemplate="content" >
        <p-tabView>
            <p-tabPanel header="Catégorie">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Libellé</label>
                                    <input class="p-mb-2 p-mr-2" type="text"  pInputText
                                            placeholder="Libelle"  [(ngModel)]="selectedCategorieFaq.libelle"
                                           id="1" 
                                           [ngClass]="{'ng-invalid ng-dirty' : submitted && empty(selectedCategorieFaq.libelle)}"
                                           autofocus>
                                    <small class="p-error" *ngIf="submitted && empty(selectedCategorieFaq.libelle)">Le libellé est obligatoire.</small>
                                </div>
                                
                                    <div class="p-field p-col-12 p-md-6">
                                        <label for="2">Ordre</label>
                                        <p-inputNumber class="p-mb-2 p-mr-2" id="2"
                                                       placeholder="Ordre"  [(ngModel)]="selectedCategorieFaq.ordre"
                                                (onBlur)="onBlurOrdre()"
                                                [min]="1"
                                                [ngClass]="{'ng-invalid ng-dirty' : submitted && foundedOrdre}"
                                                ></p-inputNumber>
                                        <small class="p-error" *ngIf="submitted && foundedOrdre">Ce numéro d'ordre déjà existe.</small>
                                    </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-6">
                                        <div  class="label-inputswitch">
                                            <label for="3">Archivage</label>
                                        </div>
                                        <div class="input-switch">
                                            <p-inputSwitch id="3"  [(ngModel)]="selectedCategorieFaq.archive"></p-inputSwitch>
                                        </div>
                                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideCreateDialog()"></button>
            </div>
            <div>
                <button pButton pRipple label="Valider" icon="pi pi-check"  (click)="save()"></button>
            </div>
        </div>
    </ng-template>



</p-dialog>



