
<p-dialog [(visible)]="viewTypeEnseignementDispenseDialog" [style]="{width: '70vw'}"
        header="{{'typeEnseignementDispenseTabPan' | i18next}}" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'typeEnseignementDispenseTabPan' | i18next}}">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">{{'typeEnseignementDispenseLibelle' | i18next}}</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="{{'typeEnseignementDispenseLibelle' | i18next}}"  [(ngModel)]="selectedTypeEnseignementDispense.libelle"
                                           id="1" [(ngModel)]="selectedTypeEnseignementDispense.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">{{'typeEnseignementDispenseCode' | i18next}}</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="{{'typeEnseignementDispenseCode' | i18next}}"  [(ngModel)]="selectedTypeEnseignementDispense.code"
                                           id="2" [(ngModel)]="selectedTypeEnseignementDispense.code"
                                           autofocus>
                                </div>



                                <div class="p-field align-inputswitch p-col-12  p-md-6">
                                    <div  class="label-inputswitch">
                                        <label for="3">{{'typeEnseignementDispenseArchive' | i18next}}</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="3"  [disabled]="true" [(ngModel)]="selectedTypeEnseignementDispense.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">{{'typeEnseignementDispenseDateArchivage' | i18next}}</label>
                                    <p-calendar  [showTime]="true" [showSeconds]="false"   id="4" [disabled]="true"
                                                placeholder="{{'typeEnseignementDispenseDateArchivage' | i18next}}"  [(ngModel)]="selectedTypeEnseignementDispense.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="5">{{'typeEnseignementDispenseDateCreation' | i18next}}</label>
                                    <p-calendar  [showTime]="true" [showSeconds]="false"   id="5" [disabled]="true"
                                                placeholder="{{'typeEnseignementDispenseDateCreation' | i18next}}"  [(ngModel)]="selectedTypeEnseignementDispense.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



