<app-badge-card-view (switchCardViewOutput)="updateDisplay($event)"></app-badge-card-view>

<ng-template pTemplate="content" [ngIf]="true">
    <p-tabView>
        <p-tabPanel header="Campagne">
            <div style="display: flex;">
                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="p-grid">
                            <p-toast></p-toast>
                            <div class="card">
                                <p-toolbar styleClass="p-mb-4">
                                    <ng-template pTemplate="left">
                                        <button pButton pRipple label="Nouveau" icon="pi pi-plus"
                                                class="p-button-success p-mr-2 p-mb-2"
                                                (click)="openCreateCampagne('campagne')"></button>

                                        <button pButton pRipple label="Recherche"
                                                icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                                                class="p-button-success p-mr-2 p-mb-2"
                                                (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                                    </ng-template>
                                    <ng-template pTemplate="right">
                                        <div class="flex">
                                            <p-splitButton label="Exporter" icon="pi pi-download"
                                                           styleClass="p-button-help"
                                                           [model]="excelPdfButons"></p-splitButton>
                                        </div>
                                    </ng-template>

                                </p-toolbar>
                                <p-toolbar *ngIf="findByCriteriaShow">

                                    <div class="align-form-search">
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <input class="p-mr-2" pInputText id="1" type="text" maxlength="30"
                                                   [(ngModel)]="searchCampagne.libelle">
                                            <label for="1">Libellé</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <input class="p-mr-2" pInputText id="3" type="text" maxlength="30"
                                                   [(ngModel)]="searchCampagne.code">
                                            <label for="3">Code</label>
                                        </span>

                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-calendar class="p-mr-2" [(ngModel)]="searchCampagne.dateDepartMin"
                                                        id="5-1" dateFormat="dd-MM-yy" [showTime]="true"
                                                        [showSeconds]="false">
                                            </p-calendar>
                                            <label for="5-1">Date de début Min</label>
                                        </span>

                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-calendar class="p-mr-2" [(ngModel)]="searchCampagne.dateDepartMax"
                                                        id="5-2" dateFormat="dd-MM-yy" [showTime]="true"
                                                        [showSeconds]="false">
                                            </p-calendar>
                                            <label for="5-2">Date de début Max</label>
                                        </span>


                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-calendar class="p-mr-2" [(ngModel)]="searchCampagne.dateFinMin" id="6-1"
                                                        dateFormat="dd-MM-yy" [showTime]="true" [showSeconds]="false">
                                            </p-calendar>
                                            <label for="6-1">Date de fin Min</label>
                                        </span>

                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-calendar class="p-mr-2" [(ngModel)]="searchCampagne.dateFinMax" id="6-2"
                                                        dateFormat="dd-MM-yy" [showTime]="true" [showSeconds]="false">
                                            </p-calendar>
                                            <label for="6-2">Date de fin Max</label>
                                        </span>


                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-calendar class="p-mr-2" [(ngModel)]="searchCampagne.dateRelanceMin"
                                                        id="7-1" dateFormat="dd-MM-yy" [showTime]="true"
                                                        [showSeconds]="false">
                                            </p-calendar>
                                            <label for="7-1">Date de relance planifiée Min</label>
                                        </span>

                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-calendar class="p-mr-2" [(ngModel)]="searchCampagne.dateRelanceMax"
                                                        id="7-2" dateFormat="dd-MM-yy" [showTime]="true"
                                                        [showSeconds]="false">
                                            </p-calendar>
                                            <label for="7-2">Date de relance planifiée Max</label>
                                        </span>

                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-dropdown [options]="etatCampagnes"
                                                        [(ngModel)]="searchCampagne.etatCampagneVo" id="8"
                                                        [filter]="true"
                                                        [showClear]="true" optionLabel="libelle">
                                            </p-dropdown>
                                            <label for="8">Etat campagne</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-dropdown [options]="templateOuvertures"
                                                        [(ngModel)]="searchCampagne.templateOuvertureVo" id="9"
                                                        [filter]="true"
                                                        [showClear]="true" optionLabel="code">
                                            </p-dropdown>
                                            <label for="9">Template ouverture</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <input class="p-mr-2" pInputText id="10" type="text" maxlength="30"
                                                   [(ngModel)]="searchCampagne.objetOuverture">
                                            <label for="10">Objet du mail de ouverture</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-dropdown [options]="templateClotures"
                                                        [(ngModel)]="searchCampagne.templateClotureVo" id="12"
                                                        [filter]="true"
                                                        [showClear]="true" optionLabel="code">
                                            </p-dropdown>
                                            <label for="12">Template cloture</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <input class="p-mr-2" pInputText id="13" type="text" maxlength="30"
                                                   [(ngModel)]="searchCampagne.objetCloture">
                                            <label for="13">Objet du mail d’ouverture</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-dropdown [options]="templateRelances"
                                                        [(ngModel)]="searchCampagne.templateRelanceVo" id="15"
                                                        [filter]="true"
                                                        [showClear]="true" optionLabel="code">
                                            </p-dropdown>
                                            <label for="15">Template relance</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <input class="p-mr-2" pInputText id="16" type="text" maxlength="30"
                                                   [(ngModel)]="searchCampagne.objetRelance">
                                            <label for="16">Objet du mail de relance</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <p-dropdown [options]="templateRappels"
                                                        [(ngModel)]="searchCampagne.templateRappelVo" id="18"
                                                        [filter]="true"
                                                        [showClear]="true" optionLabel="code">
                                            </p-dropdown>
                                            <label for="18">Template rappel</label>
                                        </span>
                                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                            <input class="p-mr-2" pInputText id="19" type="text" maxlength="30"
                                                   [(ngModel)]="searchCampagne.objetRappel">
                                            <label for="19">Objet du mail de rappel</label>
                                        </span>
                                    </div>

                                    <div class="align-search-button">
                                        <button pButton pRipple label="Effacer" icon="pi pi-times"
                                                class="p-button-info p-mr-2" (click)="clearRequest()"></button>

                                        <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                                                class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                                    </div>
                                </p-toolbar>


                                <p-table #dt [value]="campagnes" [columns]="cols" [rows]="8" [paginator]="true"
                                         [rowsPerPageOptions]="[10,25,50,100,500]" sortMode="multiple"
                                         [ngClass]="{'faa-custom-card-table': isCardDisplayActivated }"
                                         [sortMode]="getSortMode()" [rowsPerPageOptions]="[10,25,50,100,500]"
                                         [globalFilterFields]="['libelle', 'code', 'annee', 'dateDepart', 'dateFin',
                                         'dateRelance', 'libelle', 'code', 'objetOuverture', 'code', 'objetCloture',
                                         'code', 'objetRelance', 'code', 'objetRappel']"
                                         [(selection)]="selectedCampagne" [rowHover]="true" dataKey="id"
                                         styleClass="p-datatable-customers"
                                         currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords} des entrées"
                                         [showCurrentPageReport]="true">
                                    <ng-template pTemplate="caption">
                                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                            <h5 class="p-m-0">Liste des Campagnes</h5>
                                            <app-select-box-sort-table-gestion-equipe-admin
                                                    *ngIf="isCardDisplayActivated"
                                                    [cols]="cols" (sortByColumn)="sortByColumnName($event, dt)">
                                            </app-select-box-sort-table-gestion-equipe-admin>

                                            <span class="p-input-icon-left">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" maxlength="30" placeholder="Chercher..."
                                                       (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                                            </span>
                                        </div>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 3rem">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                            </th>


                                            <th pSortableColumn="libelle">
                                                <div class="p-d-flex p-jc-between p-ai-center">
                                                    <span>Libellé</span>
                                                    <p-sortIcon field="libelle"></p-sortIcon>
                                                    <p-columnFilter type="text" field="libelle" display="menu">
                                                    </p-columnFilter>
                                                </div>
                                            </th>


                                            <th pSortableColumn="code">
                                                <div class="p-d-flex p-jc-between p-ai-center">
                                                    <span>Code</span>
                                                    <p-sortIcon field="code"></p-sortIcon>
                                                    <p-columnFilter type="text" field="code" display="menu">
                                                    </p-columnFilter>
                                                </div>
                                            </th>


                                            <th pSortableColumn="annee">
                                                <div class="p-d-flex p-jc-between p-ai-center">
                                                    <span>Année d’activités </span>
                                                    <p-sortIcon field="annee"></p-sortIcon>
                                                    <p-columnFilter type="text" field="annee" display="menu">
                                                    </p-columnFilter>
                                                </div>
                                            </th>


                                            <th pSortableColumn="dateDepart">
                                                <div class="p-d-flex p-jc-between p-ai-center">
                                                    <span>Date de début</span>
                                                    <p-sortIcon field="dateDepart"></p-sortIcon>
                                                    <p-columnFilter type="text" field="dateDepart" display="menu">
                                                    </p-columnFilter>
                                                </div>
                                            </th>


                                            <th pSortableColumn="dateFin">
                                                <div class="p-d-flex p-jc-between p-ai-center">
                                                    <span>Date de fin</span>
                                                    <p-sortIcon field="dateFin"></p-sortIcon>
                                                    <p-columnFilter type="text" field="dateFin" display="menu">
                                                    </p-columnFilter>
                                                </div>
                                            </th>


                                            <th pSortableColumn="etatCampagne">
                                                <div class="p-d-flex p-jc-between p-ai-center">
                                                    <span>Etat campagne</span>
                                                    <p-sortIcon field="etatCampagne"></p-sortIcon>
                                                    <p-columnFilter type="text" field="etatCampagneVo?.libelle"
                                                                    display="menu"></p-columnFilter>
                                                </div>
                                            </th>


                                            <th>Actions</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-campagne>

                                        <!--        Blocs cartes        -->
                                        <app-custom-card *ngIf="isCardDisplayActivated"
                                                         [dateCreation]="campagne.createdAt" [status]="campagne.code"
                                                         [cardTitle]="campagne.libelle">
                                            <div card-body>
                                                <ul>
                                                    <li><b>Année</b>
                                                        {{campagne.annee}}</li>

                                                    <li><b>Date de début</b>
                                                        {{campagne.dateDepart | date :'dd/MM/yyyy HH:mm'}}</li>

                                                    <li><b>Date de fin </b>
                                                        {{campagne.dateFin | date :'dd/MM/yyyy HH:mm'}}</li>

                                                    <li><b>Etat campagne</b>
                                                        {{campagne.etatCampagneVo?.libelle}}</li>
                                                </ul>
                                            </div>
                                            <div card-buttons>
                                                <ng-template [ngTemplateOutlet]="boutonsActions"
                                                             [ngTemplateOutletContext]="{campagne: campagne}"></ng-template>

                                            </div>
                                        </app-custom-card>

                                        <tr *ngIf="!isCardDisplayActivated">
                                            <td>
                                                <p-tableCheckbox [value]="campagne"></p-tableCheckbox>
                                            </td>

                                            <td>{{campagne.libelle |truncate}}</td>
                                            <td>{{campagne.code |truncate}}</td>
                                            <td>{{campagne.annee |truncate}}</td>
                                            <td>{{campagne.dateDepart | date :'dd/MM/yyyy HH:mm' |truncate}}</td>
                                            <td>{{campagne.dateFin | date :'dd/MM/yyyy HH:mm' |truncate}}</td>
                                            <td>{{campagne.etatCampagneVo?.libelle |truncate}}</td>


                                            <td>
                                                <ng-template [ngTemplateOutlet]="boutonsActions"
                                                             [ngTemplateOutletContext]="{campagne: campagne}"></ng-template>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template #boutonsActions let-campagne="campagne">
                                        <button pButton pRipple icon="pi pi-pencil"
                                                class="p-button-rounded p-button-success p-mr-2"
                                                (click)="editCampagne(campagne)"></button>
                                        <button pButton pRipple icon="pi pi-list"
                                                class="p-button-rounded p-button-info p-mr-2"
                                                (click)="viewCampagne(campagne)"></button>
                                        <button pButton pRipple icon="pi pi-trash"
                                                class="p-button-rounded p-button-danger p-mr-2"
                                                (click)="deleteCampagne(campagne)"></button>
                                        <button pButton pRipple icon="pi pi-copy"
                                                class="p-button-rounded p-button-raised p-button-warning  p-mr-2"
                                                (click)="duplicateCampagne(campagne)"></button>
                                        <button (click)="sendEmailCampagne(campagne)"
                                                class="p-button-rounded p-button-danger   p-mr-2" icon="pi pi-envelope"
                                                pButton pRipple></button>
                                        <button (click)="exportCampagne(campagne)"
                                                class="p-button-rounded p-button-danger" icon="pi pi-download" pButton
                                                pRipple></button>
                                    </ng-template>
                                    <ng-template pTemplate="summary">
                                        <div class="p-d-flex p-ai-center p-jc-between">
                                            Au total
                                            il {{campagnes ? campagnes.length == 1 ? 'y a' : 'y a' : 'y a' }}
                                            {{campagnes ?
                                            campagnes.length
                                            : 0 }} {{campagnes ? campagnes.length == 1 ? 'campagne' : 'campagnes' : 0 }}
                                            .
                                        </div>
                                    </ng-template>
                                </p-table>
                            </div>
                            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

                        </div>


                    </div>

                </div>
            </div>

        </p-tabPanel>

        <p-tabPanel header="{{headerRelance}}" *ngIf='this.displayEmailRelance'>
            <app-email-relance></app-email-relance>
        </p-tabPanel>

        <p-tabPanel header="{{headerRappel}}" *ngIf='this.displayEmailRelance'>
            <app-email-rappel></app-email-rappel>
        </p-tabPanel>


    </p-tabView>
</ng-template>
