
<p-dialog [(visible)]="viewNatureEnseignementDialog" [style]="{width: '70vw'}"
        header="{{'natureEnseignementTabPan' | i18next}}" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'natureEnseignementTabPan' | i18next}}">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">{{'natureEnseignementLibelle' | i18next}}</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="{{'natureEnseignementLibelle' | i18next}}"  [(ngModel)]="selectedNatureEnseignement.libelle"
                                           id="1" [(ngModel)]="selectedNatureEnseignement.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">{{'natureEnseignementCode' | i18next}}</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="{{'natureEnseignementCode' | i18next}}"  [(ngModel)]="selectedNatureEnseignement.code"
                                           id="2" [(ngModel)]="selectedNatureEnseignement.code"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">{{'natureEnseignementDescription' | i18next}}</label>
                                    <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true"
                                              placeholder="{{'natureEnseignementDescription' | i18next}}"  [(ngModel)]="selectedNatureEnseignement.description"
                                    ></textarea>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-6">
                                    <div  class="label-inputswitch">
                                        <label for="4">{{'natureEnseignementArchive' | i18next}}</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="4"  [disabled]="true" [(ngModel)]="selectedNatureEnseignement.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="5">{{'natureEnseignementDateArchivage' | i18next}}</label>
                                    <p-calendar  [showTime]="true" [showSeconds]="false"   id="5" [disabled]="true"
                                                placeholder="{{'natureEnseignementDateArchivage' | i18next}}"  [(ngModel)]="selectedNatureEnseignement.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="6">{{'natureEnseignementDateCreation' | i18next}}</label>
                                    <p-calendar  [showTime]="true" [showSeconds]="false"   id="6" [disabled]="true"
                                                placeholder="{{'natureEnseignementDateCreation' | i18next}}"  [(ngModel)]="selectedNatureEnseignement.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



