<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="{{'new' | i18next}}" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateAffectationStructurelle('affectationStructurelle')"></button>


                    <button pButton pRipple label="{{'search' | i18next}}"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="{{'export' | i18next}}" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchAffectationStructurelle.code">
                                    <label for="1">{{'affectationStructurelleCode' | i18next}}</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchAffectationStructurelle.libelleCourt">
                                    <label for="2">{{'affectationStructurelleLibelleCourt' | i18next}}</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text"  [(ngModel)]="searchAffectationStructurelle.libelleLong">
                                    <label for="3">{{'affectationStructurelleLibelleLong' | i18next}}</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown  id="4" [options]="yesOrNoArchive" [(ngModel)]="searchAffectationStructurelle.archive"
                                            [filter]="false" [showClear]="true"  placeholder="{{'affectationStructurelleArchive' | i18next}}"
                                                 optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchAffectationStructurelle.dateArchivageMin"
                                    id="5-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="5-1">{{'affectationStructurelleDateArchivage' | i18next}} Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchAffectationStructurelle.dateArchivageMax"
                                    id="5-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="5-2">{{'affectationStructurelleDateArchivage' | i18next}} Max</label>
                        </span>


                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchAffectationStructurelle.dateCreationMin"
                                    id="6-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="6-1">{{'affectationStructurelleDateCreation' | i18next}} Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchAffectationStructurelle.dateCreationMax"
                                    id="6-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="6-2">{{'affectationStructurelleDateCreation' | i18next}} Max</label>
                        </span>

                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="{{'validate' | i18next}}" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="affectationStructurelles" [columns]="cols" [rows]="8" [paginator]="true"
                    [globalFilterFields]="['code', 'libelleCourt', 'libelleLong', 'archive', 'dateArchivage', 'dateCreation']" [(selection)]="selectedAffectationStructurelle"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="{{'fromTo' | i18next}}"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">{{'affectationStructurelleHeader' | i18next}}</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | i18next}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="code">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'affectationStructurelleCode' | i18next}}</span>
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="libelleCourt">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'affectationStructurelleLibelleCourt' | i18next}}</span>
                                        <p-sortIcon field="libelleCourt"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="libelleLong">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'affectationStructurelleLibelleLong' | i18next}}</span>
                                        <p-sortIcon field="libelleLong"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="archive">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'affectationStructurelleArchive' | i18next}}</span>
                                        <p-sortIcon field="archive"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateArchivage">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'affectationStructurelleDateArchivage' | i18next}}</span>
                                        <p-sortIcon field="dateArchivage"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateCreation">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>{{'affectationStructurelleDateCreation' | i18next}}</span>
                                        <p-sortIcon field="dateCreation"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-affectationStructurelle>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="affectationStructurelle"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{affectationStructurelle.code | truncate:60}}</td>
                            

                            
                                 <td>{{affectationStructurelle.libelleCourt | truncate:60}}</td>
                            

                            
                                 <td>{{affectationStructurelle.libelleLong | truncate:60}}</td>
                            

                            
                                <td><i *ngIf="affectationStructurelle.archive" class="pi pi-check checked-toogle"></i>
                                    <i *ngIf="!affectationStructurelle.archive" class="pi pi-times unchecked-toogle"></i>
                                </td>
                            

                            
                                <td>{{affectationStructurelle.dateArchivage | date :'dd/MM/yyyy HH:mm'  | truncate:60}}</td>
                            

                            
                                <td>{{affectationStructurelle.dateCreation | date :'dd/MM/yyyy HH:mm'  | truncate:60}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editAffectationStructurelle(affectationStructurelle)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewAffectationStructurelle(affectationStructurelle)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateAffectationStructurelle(affectationStructurelle)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{affectationStructurelles ? affectationStructurelles.length == 1 ? 'y a' : 'y a' : 'y a' }} {{affectationStructurelles ? affectationStructurelles.length : 0 }} {{affectationStructurelles ? affectationStructurelles.length == 1 ? 'affectation structurelle' : 'affectation structurelles' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-affectation-structurelle-create-admin></app-affectation-structurelle-create-admin>
        <app-affectation-structurelle-edit-admin></app-affectation-structurelle-edit-admin>
        <app-affectation-structurelle-view-admin></app-affectation-structurelle-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
