        <p-dialog [(visible)]="editStatusContratEtConventionDialog" [style]="{width: '70vw'}"
                header="{{'statusContratEtConventionTabPan' | i18next}}" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'statusContratEtConventionTabPan' | i18next}}">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">{{'statusContratEtConventionLibelle' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'statusContratEtConventionLibelle' | i18next}}"
                                                   id="1" [(ngModel)]="selectedStatusContratEtConvention.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validStatusContratEtConventionLibelle}"  />
                                            <small class='p-error' *ngIf='!validStatusContratEtConventionLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">{{'statusContratEtConventionCode' | i18next}}<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="{{'statusContratEtConventionCode' | i18next}}"
                                                   id="2" [(ngModel)]="selectedStatusContratEtConvention.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validStatusContratEtConventionCode}"  />
                                            <small class='p-error' *ngIf='!validStatusContratEtConventionCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="p-field align-inputswitch p-col-12  p-md-6">
                                            <div  class="label-inputswitch">
                                                <label for="3">{{'statusContratEtConventionArchive' | i18next}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="selectedStatusContratEtConvention.archive"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="4">{{'statusContratEtConventionDateArchivage' | i18next}}</label>
                                            <p-calendar  [showTime]="true" [showSeconds]="false"   id="4"
                                                        placeholder="{{'statusContratEtConventionDateArchivage' | i18next}}"  [(ngModel)]="selectedStatusContratEtConvention.dateArchivage"
                                                    dateFormat="{{dateFormat}}"  >
                                            </p-calendar>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
