
<p-dialog [(visible)]="viewTypeExpertDialog" [style]="{width: '70vw'}"
        header="{{'typeExpertTabPan' | i18next}}" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'typeExpertTabPan' | i18next}}">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">{{'typeExpertLibelle' | i18next}}</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="{{'typeExpertLibelle' | i18next}}"  [(ngModel)]="selectedTypeExpert.libelle"
                                           id="1" [(ngModel)]="selectedTypeExpert.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">{{'typeExpertCode' | i18next}}</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="{{'typeExpertCode' | i18next}}"  [(ngModel)]="selectedTypeExpert.code"
                                           id="2" [(ngModel)]="selectedTypeExpert.code"
                                           autofocus>
                                </div>



                                <div class="p-field align-inputswitch p-col-12  p-md-6">
                                    <div  class="label-inputswitch">
                                        <label for="3">{{'typeExpertArchive' | i18next}}</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="3"  [disabled]="true" [(ngModel)]="selectedTypeExpert.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">{{'typeExpertDateArchivage' | i18next}}</label>
                                    <p-calendar  [showTime]="true" [showSeconds]="false"   id="4" [disabled]="true"
                                                placeholder="{{'typeExpertDateArchivage' | i18next}}"  [(ngModel)]="selectedTypeExpert.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="5">{{'typeExpertDateCreation' | i18next}}</label>
                                    <p-calendar  [showTime]="true" [showSeconds]="false"   id="5" [disabled]="true"
                                                placeholder="{{'typeExpertDateCreation' | i18next}}"  [(ngModel)]="selectedTypeExpert.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



