
<p-dialog [(visible)]="viewResponsabilitePedagogiqueMasterDialog" [style]="{width: '70vw'}"
        header="Responsabilite pedagogique master" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Responsabilite pedagogique master">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Annee</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="1" [disabled]="true"
                                                   placeholder="Annee"  [(ngModel)]="selectedResponsabilitePedagogiqueMaster.annee"
                                            [(ngModel)]="selectedResponsabilitePedagogiqueMaster.annee"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Temps estime pour cette année</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="2" [disabled]="true"
                                                   placeholder="Temps estime pour cette année"  [(ngModel)]="selectedResponsabilitePedagogiqueMaster.tempsEstimePourCetteAnnne"
                                            [(ngModel)]="selectedResponsabilitePedagogiqueMaster.tempsEstimePourCetteAnnne"></p-inputNumber>
                                </div>

                                <div class="p-field p-col-12 p-md-2">
                                    <label for="3">Statut master</label>
                                    <p-dropdown [options]="statutMasters" [(ngModel)]="selectedResponsabilitePedagogiqueMaster.statutMasterVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Statut master">
                                    </p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-1">
                                    <label></label>
                                    <button pButton pRipple type="button"
                                            icon="pi pi-plus"   (click)="openCreatestatutMaster('statutMaster')"
                                            class="p-button-success one-colonne-btn-success-align" [disabled]="true"></button>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="4">Appel service renforcement capacite sud</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="4"  [(ngModel)]="selectedResponsabilitePedagogiqueMaster.appelServiceRenforcementCapaciteSud"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="5">Master international</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="5"  [(ngModel)]="selectedResponsabilitePedagogiqueMaster.masterInternational"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-2">
                                    <label for="6">Master</label>
                                    <p-dropdown [options]="masters" [(ngModel)]="selectedResponsabilitePedagogiqueMaster.masterVo"
                                            id="6" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="intitule"
                                            placeholder="Master">
                                    </p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-1">
                                    <label></label>
                                    <button pButton pRipple type="button"
                                            icon="pi pi-plus"   (click)="openCreatemaster('master')"
                                            class="p-button-success one-colonne-btn-success-align" [disabled]="true"></button>
                                </div>

                                <div class="p-field p-col-12 p-md-2">
                                    <label for="7">Etablissement</label>
                                    <p-dropdown [options]="etablissements" [(ngModel)]="selectedResponsabilitePedagogiqueMaster.etablissementVo"
                                            id="7" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etablissement">
                                    </p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-1">
                                    <label></label>
                                    <button pButton pRipple type="button"
                                            icon="pi pi-plus"   (click)="openCreateetablissement('etablissement')"
                                            class="p-button-success one-colonne-btn-success-align" [disabled]="true"></button>
                                </div>

                                <div class="p-field p-col-12 p-md-2">
                                    <label for="8">Etat etape campagne</label>
                                    <p-dropdown [options]="etatEtapeCampagnes" [(ngModel)]="selectedResponsabilitePedagogiqueMaster.etatEtapeCampagneVo"
                                            id="8" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Etat etape campagne">
                                    </p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-1">
                                    <label></label>
                                    <button pButton pRipple type="button"
                                            icon="pi pi-plus"   (click)="openCreateetatEtapeCampagne('etatEtapeCampagne')"
                                            class="p-button-success one-colonne-btn-success-align" [disabled]="true"></button>
                                </div>

                                <div class="p-field p-col-12 p-md-2">
                                    <label for="9">Chercheur</label>
                                    <p-dropdown [options]="chercheurs" [(ngModel)]="selectedResponsabilitePedagogiqueMaster.chercheurVo"
                                            id="9" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="numeroMatricule"
                                            placeholder="Chercheur">
                                    </p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-1">
                                    <label></label>
                                    <button pButton pRipple type="button"
                                            icon="pi pi-plus"   (click)="openCreatechercheur('chercheur')"
                                            class="p-button-success one-colonne-btn-success-align" [disabled]="true"></button>
                                </div>

                                <div class="p-field p-col-12 p-md-2">
                                    <label for="10">Campagne</label>
                                    <p-dropdown [options]="campagnes" [(ngModel)]="selectedResponsabilitePedagogiqueMaster.campagneVo"
                                            id="10" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Campagne">
                                    </p-dropdown>
                                </div>
                                <div class="p-field p-col-12 p-md-1">
                                    <label></label>
                                    <button pButton pRipple type="button"
                                            icon="pi pi-plus"   (click)="openCreatecampagne('campagne')"
                                            class="p-button-success one-colonne-btn-success-align" [disabled]="true"></button>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-statut-master-create-admin></app-statut-master-create-admin>
            <app-master-create-admin></app-master-create-admin>
            <app-etablissement-create-admin></app-etablissement-create-admin>
            <app-etat-etape-campagne-create-admin></app-etat-etape-campagne-create-admin>
            <app-chercheur-create-admin></app-chercheur-create-admin>
            <app-campagne-create-admin></app-campagne-create-admin>



</p-dialog>



